@model IEnumerable<ColleageInnerTraining.Application.Dtos.UserAccountListDto>
<table class="table_info">
    <tr>
        <th class="col-xs-1 text-center">@Html.CheckBox("cball", false, new { @onclick = "commonJs.cball(this)" })</th>
        <th class="col-xs-3 text-center">姓名</th>
        <th class="col-xs-3 text-center">部门</th>
        <th class="col-xs-2 text-center">岗位</th>
        <th class="text-center">操作</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@Html.CheckBox("cbsingle", false, new { @realid = item.SysNO })</td>
            <td>@item.DisplayName</td>
            <td>@item.DepartmentName</td>
            <td>@item.PostName</td>
            <td class="text-center">
                @if (item.IsExitClass)
                {
                    @:<a class="yanhse" onclick="remove(@item.SysNO)" href="javascript:">移除班级成员</a>
                }
                else
                {
                    @:<a class="yanhse" onclick="setsingleuser(@item.SysNO)" href="javascript:">设为班级成员</a>
                }
            </td>
        </tr>
    }
</table>
@{Html.RenderPartial("~/Areas/Admin/Views/Shared/Pager.cshtml");}